<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Telepati</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .full-container {
            width: 100vw;
            height: 100vh;
        }

        .left-bar {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-bar {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .enter-code {
            font-weight: bold;
        }

        .join-image {
            margin: 10px;
        }

        .join-text {
            font-weight: bold;
            color: white;
        }
    </style>
</head>

<body>
    <div class="full-container d-flex justify-content-center">
        <section class="col-6 left-bar text-center">
            <div>
                <p class="enter-code">Enter Your Code Meeting Here</p>
                <form id="join-form" class="">
                    <input id="room-id" type='text' class='m-1' />
                    <button type='submit' class='btn btn-primary m-1'>JOIN</button>
                </form>
            </div>
        </section>
        <section class="col-6 right-bar">
            <div>
                <img class="join-image" src="/assets/pictures/Join.png" />
                <p class="join-text">Join Meeting Room For Free</p>
            </div>
        </section>
    </div>
    <script src="/homebundle.js"></script>
</body>

</html>