<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Telepati</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .outside-container {
            width: 100vw;
            height: 100vh;
            background-color: #1e1f20;
            overflow: hidden;
        }

        .full-container {
            background-color: #1e1f20;
            width: 100vw;
            height: 93%;
            position: relative;
            display: flex;
            overflow: hidden;
        }

        .controller {
            /* position: absolute; */
            bottom: 20px;
            width: 100%;
            height: 7%;
            display: flex;
            justify-content: center;
        }

        #video-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        #video-container-screen-sharing {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            position: relative;
        }

        .user-video-container-screen-sharing {
            margin: 10px;
            height: 20%;
            width: 40%;
            position: relative;
        }

        #screen-sharing-container {
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #screen-sharing {
            width: 90%;
            height: 80%;
        }

        .user-video-container {
            margin: 10px;
            height: 80%;
            width: 45%;
            position: relative;
        }

        .user-video-container-3 {
            margin: 10px;
            height: 70%;
            width: 30%;
            position: relative;
        }

        .user-video-container-6 {
            margin: 10px;
            height: 45%;
            width: 30%;
            position: relative;
        }

        .user-video-container-8 {
            margin: 10px;
            height: 40%;
            width: 23%;
            position: relative;
        }

        .user-video-container-12 {
            margin: 10px;
            height: 30%;
            width: 20%;
            position: relative;
        }

        .user-video {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
        }

        .username {
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            font-size: 11px;
            background: rgba(0, 0, 0, 0.4);
            padding: 2px;
        }

        .icons-mic {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            transition: 0.3s;
            background: #1e1f20;
        }



        .button-small-custom {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: 0.3s;
            background: #1e1f20;
            margin-left: 10px;
            margin-right: 10px;
        }

        .button-big-custom {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: #fc5d5b;
            transition: 0.3s;
            margin-left: 10px;
            margin-right: 10px;
        }

        .button-image {
            width: 40px;
            height: 40px;
        }

        .record-timer {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(255, 0, 0, 0.4);
            border-radius: 10px;
            font-size: 20px;
            padding: 10px;
        }

        #snackbar {
            visibility: hidden;
            color: #fff;
            background-color: #333;
            margin-left: -125px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            bottom: 30px;
            right: -50px;
            z-index: 1;
            position: absolute;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        /* Animations for fading in and out */
        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        #alert-screensharing {
            visibility: hidden;
            color: #fff;
            background-color: #333;
            margin-left: -125px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            top: 30px;
            left: 50%;
            z-index: 1;
            position: absolute;
        }

        #alert-screensharing.show {
            visibility: visible;
            -webkit-animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
            animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
        }

        /* Animations for fading in and out */
        @-webkit-keyframes fadein-as {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein-as {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout-as {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout-as {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        .chat-bar {
            background-color: #f1f1f1;
            border: 1px solid #d3d3d3;
            max-width: 300px;
            min-width: 300px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 100px;
            z-index: 9;
        }

        #chat-bar-header {
            background-color: #2196f3;
            color: #fff;
            cursor: move;
            max-width: 300px;
            padding: 10px;
            z-index: 10;
        }

        .chat-container {
            background-color: grey;
            font-size: 13px;
            max-height: 200px;
            max-width: 100%;
            min-height: 200px;
            overflow-y: auto;
            padding-bottom: 50px;
            position: relative;
        }

        .chat-footer {
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        .chat-send {
            bottom: 0;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 5px;
            position: -webkit-sticky;
            position: sticky;
            width: 100%;
        }

        .send-button {
            border-radius: 50px;
            width: 27px;
            height: 27px;
        }

        .your-messages {
            text-align: right;
            width: 100%;
        }

        .sender {
            margin: 0;
        }

        .your-message {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: right;
        }

        .received-message {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: left;
        }

        .inside-message {
            max-width: 50%;
            background-color: white;
            border-radius: 10px;
            padding: 1px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
        }

        .received-messages {
            text-align: left;
            width: 100%;
        }

        .type-box {
            height: 90%;
            color: black;
            width: 75% !important;
            background-color: white;
            border-radius: 10px;
            padding: 5px;
        }

        .button-v2 {
            background-color: rgb(60, 64, 67);
            border-radius: 20px;
            width: 40px;
        }

        .pagination-button {
            height: 50px;
            width: 50px;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            overflow: hidden;
            outline: none;
            cursor: pointer;
        }

        .pagination-left {
            position: absolute;
            top: 50%;
            left: 0;
        }

        .pagination-right {
            position: absolute;
            top: 50%;
            right: 0;
        }

        @media (max-width: 950px) {
            .user-video-container {
                margin: 10px;
                height: 40%;
                width: 70%;
                position: relative;
            }

            .user-video-container-3 {
                margin: 10px;
                height: 44%;
                width: 44%;
                position: relative;
            }

            .user-video-container-6 {
                margin: 10px;
                height: 44%;
                width: 25%;
                position: relative;
            }

            .user-video-container-8 {
                margin: 10px;
                height: 40%;
                width: 21%;
                position: relative;
            }

            .user-video-container-12 {
                margin: 10px;
                height: 31%;
                width: 20%;
                position: relative;
            }
        }
        </style>
</head>

<body>
    <div class="outside-container">
        <div class="full-container" id="full-container-id">
            <audio id="audio-collection" autoplay></audio>
            <!-- <div class="pagination-left">
                <button class="pagination-button" id="slide-left">
                    <i class="fas fa-arrow-circle-left fa-lg" style="cursor: pointer;"></i>
                </button>
            </div>
            <div class="pagination-right">
                <button class="pagination-button" id="slide-right">
                    <i class="fas fa-arrow-circle-right fa-lg" style="cursor: pointer;"></i>
                </button>
            </div> -->
            <div class="invisible" id="chat-container">
                <div class="chat-bar" id="chat-bar">
                    <div id="chat-bar-header">In Call Message</div>
                    <div class="chat-container">
                        <div class="chat-messages">
                            <div class="received-messages">
                                <p class="sender">Dika</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>lalalala</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">Dika</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>lalalala</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">Dika</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>lalalala</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">Dika</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>lalalalala</span></div>
                                </div>
                            </div>
                            <div class="your-messages">
                                <p class="sender">You</p>
                                <div class="your-message">
                                    <div class="inside-message"><span>hahaha</span></div>
                                </div>
                            </div>
                            <div class="your-messages">
                                <p class="sender">You</p>
                                <div class="your-message">
                                    <div class="inside-message"><span>hahaha</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <div class="chat-send">
                            <input class="type-box" />
                            <button class="send-button">
                                <i class="fas fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <span id="alert-screensharing">Screensharing is ongoing</span>
            <div id="video-container">
                <div class="user-video-container">
                    <img src="/assets/pictures/micOn.png" class="icons-mic" id="local-mic" />
                    <video id="local-video" poster="/assets/pictures/unknown.jpg" preload="auto" autoplay class="user-video" muted></video>
                    <div class="username" id="my-username"></div>
                </div>
                <div class="screen-sharing-container"></div>
            </div>
        </div>
        <div class="controller">
            <button class="button-small-custom" id="user-record-button">
                <img src="/assets/pictures/record.png" class="button-image" id="record-image" />
            </button>
            <button class="button-small-custom" id="user-mic-button">
                <img src="/assets/pictures/micOn.png" id="mic-image" />
            </button>
            <button class="button-big-custom" id="user-hang-up-button">
                <img src="/assets/pictures/hangUp.png" />
            </button>
            <button class="button-small-custom" id="user-switch-camera-button">
                <img src="/assets/pictures/switchCamera.png" />
            </button>
            <button class="button-small-custom" id="user-turn-on-off-camera-button">
                <i class="fas fa-video" style="color: #ffffff;" id="turn-on-off-camera-icons"></i>
            </button>
            <button class="button-small-custom" id="user-screen-share-button">
                <img src="/assets/pictures/share.png" />
            </button>
            <button class="button-small-custom" id="user-chat-button">
                <i class="fas fa-comment-dots" style="color: white;"></i>
            </button>
            <button class="button-small-custom" id="share-link-button">
                <i class="far fa-share-square" style="color: white;"></i>
                <span id="snackbar">Successfully Copied</span>
            </button>
            <button class="button-small-custom" id="console-log-button" style="color: white;">
                Log
            </button>
        </div>
    </div>

    <script src="/msbundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>