<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Telepati</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .outside-container {
            width: 100vw;
            height: 100vh;
            background-color: #1e1f20;
            overflow: hidden;
        }

        .full-container {
            background-color: #1e1f20;
            width: 100vw;
            height: 93%;
            position: relative;
            display: flex;
            overflow: hidden;
        }

        .controller {
            /* position: absolute; */
            bottom: 20px;
            width: 100%;
            height: 7%;
            display: flex;
            justify-content: center;
        }

        #video-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        #video-container-screen-sharing {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            position: relative;
        }

        .user-video-container-screen-sharing {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            margin: 10px;
            height: 20%;
            width: 40%;
            position: relative;
        }

        #screen-sharing-container {
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #screen-sharing {
            width: 90%;
            height: 80%;
        }

        .user-video-container {
            margin: 10px;
            display: flex;
            justify-content: center;
            background-color: black;
            height: 80%;
            width: 45%;
            position: relative;
        }

        .user-video-container-3 {
            margin: 10px;
            display: flex;
            justify-content: center;
            background-color: black;
            height: 70%;
            width: 30%;
            position: relative;
        }

        .user-video-container-6 {
            margin: 10px;
            display: flex;
            justify-content: center;
            background-color: black;
            height: 45%;
            width: 30%;
            position: relative;
        }

        .user-video-container-8 {
            margin: 10px;
            display: flex;
            justify-content: center;
            background-color: black;
            height: 40%;
            width: 23%;
            position: relative;
        }

        .user-video-container-12 {
            margin: 10px;
            display: flex;
            justify-content: center;
            background-color: black;
            height: 30%;
            width: 20%;
            position: relative;
        }

        .user-video {
            width: 100%;
            max-height: 100%;
            /* object-fit: fill; */
            border-radius: 10px;
            transform: rotateY(180deg);
            -webkit-transform:rotateY(180deg); /* Safari and Chrome */
            -moz-transform:rotateY(180deg); /* Firefox */
            z-index: 2;
        }

        .username {
            border-radius: 4px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: white;
            font-size: 11px;
            background: rgba(0, 0, 0, 0.4);
            padding: 4px;
            z-index: 10;
        }

        .icons-mic {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            transition: 0.3s;
            background: #1e1f20;
            z-index: 22;
        }


        .mic-image {
            width: 12px;
            height: 12px;
        }

        .button-small-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: 0.3s;
            background: #44474A;
            margin-left: 10px;
            margin-right: 10px;
        }

        .button-small-custom:hover {
            background-color: #959ca3;
        }

        .button-small-custom-clicked {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: 0.3s;
            background: #fc5d5b;
            margin-left: 10px;
            margin-right: 10px;
        }

        .button-small-custom-clicked:hover {
            background-color: #ff0000;
        }

        .button-big-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fc5d5b;
            transition: 0.3s;
            margin-left: 10px;
            margin-right: 10px;
        }
        .button-big-custom:hover {
            background-color: #ff0000;
        }

        .button-image {
            width: 40px;
            height: 40px;
        }

        .record-timer {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            left: 10px;
            background-color: rgba(239, 235, 235, 0.541);
            border-radius: 10px;
            font-size: 12px;
            padding: 10px;
        }

        #snackbar {
            visibility: hidden;
            color: #fff;
            background-color: #333;
            margin-left: -125px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            bottom: 30px;
            right: -50px;
            z-index: 1;
            position: absolute;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        /* Animations for fading in and out */
        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        #alert-screensharing {
            visibility: hidden;
            color: #fff;
            background-color: #333;
            margin-left: -125px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            top: 30px;
            left: 50%;
            z-index: 1;
            position: absolute;
        }

        #alert-screensharing.show {
            visibility: visible;
            -webkit-animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
            animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
        }

        #alert-error {
            visibility: hidden;
            color: #fff;
            background-color: #333;
            margin-left: -125px;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            top: 30px;
            left: 50%;
            z-index: 1;
            position: absolute;
        }

        #alert-error.show {
            visibility: visible;
            -webkit-animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
            animation: fadein-as 0.5s, fadeout-as 0.5s 2.5s;
        }

        /* Animations for fading in and out */
        @-webkit-keyframes fadein-as {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein-as {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout-as {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout-as {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        .chat-bar {
            background-color: #f1f1f1;
            border: 1px solid #d3d3d3;
            max-width: 300px;
            min-width: 300px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 100px;
            z-index: 9;
        }

        #chat-bar-header {
            background-color: #2196f3;
            color: #fff;
            cursor: move;
            max-width: 300px;
            padding: 10px;
            z-index: 10;
        }

        .chat-container {
            background-color: grey;
            font-size: 13px;
            max-height: 200px;
            max-width: 100%;
            min-height: 200px;
            overflow-y: auto;
            padding-bottom: 50px;
            position: relative;
        }

        .chat-footer {
            bottom: 0;
            position: absolute;
            width: 100%;
        }

        .chat-send {
            bottom: 0;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 5px;
            position: -webkit-sticky;
            position: sticky;
            width: 100%;
        }

        .send-button {
            border-radius: 50px;
            width: 27px;
            height: 27px;
        }

        .your-messages {
            text-align: right;
            width: 100%;
        }

        .sender {
            margin: 0;
        }

        .your-message {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: right;
        }

        .received-message {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: left;
        }

        .inside-message {
            max-width: 50%;
            background-color: white;
            border-radius: 10px;
            padding: 1px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
        }

        .received-messages {
            text-align: left;
            width: 100%;
        }

        .type-box {
            height: 90%;
            color: black;
            width: 75% !important;
            background-color: white;
            border-radius: 10px;
            padding: 5px;
        }

        .button-v2 {
            background-color: rgb(60, 64, 67);
            border-radius: 20px;
            width: 40px;
        }

        .pagination-button {
            height: 50px;
            width: 50px;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            overflow: hidden;
            outline: none;
            cursor: pointer;
        }

        .pagination-left {
            position: absolute;
            top: 50%;
            left: 0;
        }

        .pagination-right {
            position: absolute;
            top: 50%;
            right: 0;
        }

        @media (max-width: 950px) {
            .user-video-container {
                margin: 10px;
                height: 40%;
                width: 70%;
                position: relative;
            }

            .user-video-container-3 {
                margin: 10px;
                height: 44%;
                width: 44%;
                position: relative;
            }

            .user-video-container-6 {
                margin: 10px;
                height: 44%;
                width: 25%;
                position: relative;
            }

            .user-video-container-8 {
                margin: 10px;
                height: 40%;
                width: 21%;
                position: relative;
            }

            .user-video-container-12 {
                margin: 10px;
                height: 31%;
                width: 20%;
                position: relative;
            }
        }

        .connection-status {
            font-size: 12px;
            background-color: rgba(255, 255, 255, 0.4);
            position: absolute;
            top: 20px;
            border-radius: 10px;
            padding: 5px;
            right: 20px;
            z-index: 11;
        }

        .dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }

        .status-connecting {
            background-color: #bbb;
        }

        .status-failed {
            background-color: red;
        }

        .status-connected {
            background-color: green;
        }

        .chat-bar {
            background-color: #f1f1f1;
            border: 1px solid #d3d3d3;
            max-width: 300px;
            min-width: 300px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 100px;
            z-index: 9;
        }

        .user-bar {
            border-radius: 10px;
            background-color: #f1f1f1;
            border: 1px solid #d3d3d3;
            max-width: 300px;
            min-width: 300px;
            position: absolute;
            left: 20px;
            text-align: center;
            top: 100px;
            z-index: 20 !important;
        }

        #user-bar-header {
            background: #44474A;
            color: #fff;
            cursor: move;
            max-width: 300px;
            padding: 10px;
            z-index: 10 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #user-list {
            text-align: left;
            padding-left: 10px;
        }

        #user-list>p {
            margin-bottom: 0px;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        #control-button {
            transition: opacity 2s ease;
        }

        .hidden {
            opacity: 0;
        }

        #audio-indicator {
            position: absolute;
            height: 25px;
            background-color: #f0f0f0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 2px;
            border-radius: 5px;
        }

        .bar {
            width: 18px;
            height: 0; /* Initial height of 0 for silent bars */
            background-color: #ccc; /* Gray for silence */
            border-radius: 2px;
            transition: height 0.1s, background-color 0.2s; /* Add transitions for smooth changes */
        }

        .audio-visualizer {
            position: absolute;
            background-color: #33333300;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;
            border-radius: 50%;
            z-index: 999;
        }

        #option-menu {
            position: absolute;
            background-color: rgba(68, 71, 74, 0.7);
            padding: 10px;
            bottom: 40px;
            color: #fff;
            border-radius: 10px;
            width: 100px;
        }

        #option-menu > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #option-menu > ul > li {
            padding: 5px;
        }

        #option-menu > ul > li:hover {
            background-color: rgba(68, 71, 74, 1);
        }

        .video-off {
            z-index: 3;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .video-on {
            width: 100%;
            z-index: 0;
            position: absolute;
            display: none;
        }
        </style>
</head>

<body>
    <div class="outside-container">
        <div id="loading-screen" class="modal" style="display: block;">
            <div class="loader"></div>
        </div>
        <div class="full-container" id="full-container-id">
            <div class="connection-status"><i class="far fa-dot-circle" id="connection-status-id" style="color: #bbb;"></i>
                <span id="producer-status">Waiting...</span></div>
            <div id="audio-collection" autoplay></div>
            <!-- <div class="pagination-left">
                <button class="pagination-button" id="slide-left">
                    <i class="fas fa-arrow-circle-left fa-lg" style="cursor: pointer;"></i>
                </button>
            </div>
            <div class="pagination-right">
                <button class="pagination-button" id="slide-right">
                    <i class="fas fa-arrow-circle-right fa-lg" style="cursor: pointer;"></i>
                </button>
            </div> -->
            <div class="invisible" id="chat-container">
                <div class="chat-bar" id="chat-bar">
                    <div id="chat-bar-header">In Call Message</div>
                    <div class="chat-container">
                        <div class="chat-messages">
                            <div class="received-messages">
                                <p class="sender">Brother</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>Message</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">M</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>Is</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">Dika</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>On</span></div>
                                </div>
                            </div>
                            <div class="received-messages">
                                <p class="sender">Triyanto</p>
                                <div class="received-message">
                                    <div class="inside-message"><span>Development</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <div class="chat-send">
                            <input class="type-box" />
                            <button class="send-button">
                                <i class="fas fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invisible" id="user-container">
                <div class="user-bar" id="user-bar">
                    <div id="user-bar-header"><i class="fas fa-users"></i> User</div>
                    <div id="user-list">
                    </div>
                </div>
            </div>
            <span id="alert-screensharing">Screensharing is ongoing</span>
            <span id="alert-error"></span>
            <div id="video-container">
                <div class="user-video-container" id="td-current-user-video">
                    <canvas class="audio-visualizer" id="av-current-user-audio"></canvas>
                    <div class="icons-mic">
                        <img src="/assets/pictures/micOn.png" class="mic-image" id="local-mic" />
                    </div>
                    <video id="local-video" poster="/assets/pictures/unknown.jpg" preload="auto" autoplay class="user-video" muted></video>
                    <img src="/assets/pictures/unknown.jpg" class="video-on" id="img-current-user-video"/>
                    <div class="username" id="my-username"></div>
                </div>
                <div class="screen-sharing-container"></div>
            </div>
        </div>
        <div class="controller" id="control-button">
            <button disabled class="btn button-small-custom" id="user-mic-button">
                <img src="/assets/pictures/micOn.png" id="mic-image" />
            </button>
            <button disabled class="btn button-small-custom" id="user-switch-camera-button">
                <img src="/assets/pictures/switchCamera.png" />
            </button>
            <button disabled class="btn button-small-custom" id="user-turn-on-off-camera-button">
                <i class="fas fa-video" style="color: #ffffff;" id="turn-on-off-camera-icons"></i>
            </button>
            <button disabled class="btn button-small-custom" id="user-screen-share-button">
                <img src="/assets/pictures/share.png" />
            </button>
            <button disabled class="btn button-big-custom" id="user-hang-up-button">
                <img src="/assets/pictures/hangUp.png" />
            </button>
            <button disabled class="btn button-small-custom" id="user-record-button">
                <i class="far fa-dot-circle" id="record-image" style="color: #bbb;"></i>
                <!-- <img src="/assets/pictures/record.png" class="button-image" id="record-image" /> -->
            </button>
            <button disabled class="btn button-small-custom" id="user-list-button">
                <i class="fas fa-users" style="color: #ffffff;"></i>
            </button>
            <!-- <button disabled class="btn button-small-custom" id="user-chat-button">
                <i class="fas fa-comment-dots" style="color: white;"></i>
            </button> -->
            <button disabled class="btn button-small-custom" id="share-link-button">
                <i class="far fa-share-square" style="color: white;"></i>
                <span id="snackbar">Successfully Copied</span>
            </button>
            <button class="btn button-small-custom" id="option-button">
                <i class="fas fa-ellipsis-v" style="color: white;"></i>
                <div id="option-menu" class="invisible">
                    <ul id="all-option-menu">
                        <!-- <li id="mute-all" style="font-size: 13px;">Mute All Participants</li> -->
                        <li id="stay-tuned" style="font-size: 13px;">Stay Tuned For New Feature</li>
                    </ul>
                </div>
            </button>
            <!-- <button class="btn button-small-custom" id="console-log-button" style="color: white;">
                Log
            </button> -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script>
        NProgress.start();
        window.onload = function() {
          NProgress.done();
        };
      </script>
    <script src="/msbundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>