<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Cursor Movement Detection</title>
    <style>
        /* Style for the element */
        #element-to-control {
            position: fixed;
            width: 200px;
            height: 100px;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            transition: opacity 0.5s ease;
            pointer-events: none;
            /* Allows clicks to go through the element */
        }

        .hidden {
            opacity: 0;
        }

        .audio-visualizer {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            background-color: blue;
            /* Set the background to transparent */
            box-shadow: inset 0 0 0 0px blue, 0 0 0 10px red;
        }

        .video-container {
            position: relative;
            height: 500px;
            width: 750px;
            display: flex;
        }

        .face-recognition {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        #video {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <!-- <video id="video" width="600" height="450" autoplay></video> -->
    <!-- Element to be hidden/showed -->
    <!-- <div class="video-container" id="video-container">
        <video id="video"autoplay></video>
        <div class="face-recognition" id="face-recognition"></div>
    </div> -->
    <!-- <div id="element-to-control" class="hidden">This is the element</div>
    <button>Hello World</button>
    <canvas class="audio-visualizer" id="av-current-user-audio"></canvas> -->
    <!-- <script defer src="/testing/face-api/face-api.min.js"></script> -->
    <!-- <div id="g_id_onload"
         data-client_id="623403491943-290gkq7bnqtgeprtfaci3u76vtb39bjl.apps.googleusercontent.com"
         data-callback="handleCredentialResponse"
         >
    </div>
    <div class="g_id_signin" data-type="standard"></div> -->
    <div id="g_id_onload" data-client_id="623403491943-290gkq7bnqtgeprtfaci3u76vtb39bjl.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-login_uri="https://localhost:3001/google-auth" data-nonce=""
        data-itp_support="true">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with"
        data-size="large" data-logo_alignment="left">
    </div>
    <script defer src="/testing/testing.js"></script>
</body>

</html>