<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursor Movement Detection</title>
    <style>
        /* Style for the element */
        #element-to-control {
            position: fixed;
            width: 200px;
            height: 100px;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            transition: opacity 0.5s ease;
            pointer-events: none; /* Allows clicks to go through the element */
        }

        .hidden {
            opacity: 0;
        }

        .audio-visualizer {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            background-color: blue; /* Set the background to transparent */
            box-shadow: inset 0 0 0 0px blue, 0 0 0 10px red;
        }
        .video-container {
            position: relative;
            height: 500px;
            width: 750px;
            display: flex;
        }

        .face-recognition {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        #video {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- <video id="video" width="600" height="450" autoplay></video> -->
    <!-- Element to be hidden/showed -->
    <div class="video-container" id="video-container">
        <video id="video"autoplay></video>
        <div class="face-recognition" id="face-recognition"></div>
    </div>
    <!-- <div id="element-to-control" class="hidden">This is the element</div>
    <button>Hello World</button>
    <canvas class="audio-visualizer" id="av-current-user-audio"></canvas> -->
    <script defer src="/testing/face-api/face-api.min.js"></script>
    <script defer src="/testing/testing.js"></script>
</body>
</html>
