<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursor Movement Detection</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .full-container {
            width: 100vw;
            height: 100vh;
            background-color: #1F1F1F;
        }
    </style>
</head>
<body>
    <div class="full-container">
        <button>Hello World</button>
    </div>
    <script src="/testing.js"></script>
</body>
</html>
